<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фотки</title>
    <link rel="stylesheet" href="/res/style/style.css"/>
    <script src="/res/js/jquery-1.11.0.min.js"></script>
    <script src="/res/js/like.js"></script>
</head>
<body>
    <div class="layout">
        <div class="layout__sidebar">
            sidebar
        </div>
        <div class="layout__main">
            sorting
            photos
            pagenav
        </div>
    </div>
</body>
</html>